@page
@model PortalArcomix.Pages.FornecedorVEModel
@{
    ViewData["Title"] = "FornecedorVE";
    Layout = "_Layout";
}

@if (Model.Fornecedor != null)
{
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-md-1 sidebar">
                <!-- Sidebar navigation items -->
                <div class="sidebar-item">
                    <a href="#DadosFornecedorCadastro" class="sidebar-link">
                        <i class="sidebar-icon fa fa-user"></i>
                        <span class="sidebar-text">Dados Fornecedor</span>
                    </a>
                </div>
                <div class="sidebar-item">
                    <a href="#DadosFiscaisCadastro" class="sidebar-link">
                        <i class="sidebar-icon fa fa-rectangle-list"></i>
                        <span class="sidebar-text">Dados Fiscais</span>
                    </a>
                </div>
                <div class="sidebar-item">
                    <a href="#DadosBancariosCadastro" class="sidebar-link">
                        <i class="sidebar-icon fa fa-money-check"></i>
                        <span class="sidebar-text">Dados Bancarios</span>
                    </a>
                </div>
                <div class="sidebar-item">
                    <a href="#ContatosCadastro" class="sidebar-link">
                        <i class="sidebar-icon fa fa-phone"></i>
                        <span class="sidebar-text">Contatos</span>
                    </a>
                </div>
                <div class="sidebar-item">
                    <a href="#NegociacaoFornecedor" class="sidebar-link">
                        <i class="sidebar-icon fa fa-file"></i>
                        <span class="sidebar-text">Negociação</span>
                    </a>
                </div>
                <div class="sidebar-item">
                    <a href="#SegurancaAlimentos" class="sidebar-link">
                        <i class="sidebar-icon fa fa-file"></i>
                        <span class="sidebar-text">Segurança Alimentos</span>
                    </a>
                </div>

            </div>

            <!-- Main Content Column -->
            <div class="col-md-11">
                <form method="post">
                    <br />
                    <!-- Dados Fornecedor Card -->
                    <div class="card" id="DadosFornecedorCadastro">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    
                                    <h4 style="color: #1878BB; margin-bottom: 20px;">Dados do Fornecedor</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <hr>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label>CNPJ:</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" value="@Model.Fornecedor.CNPJ" readonly />
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <label>Razão Social:</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control validate-required" value="@Model.Fornecedor.RazaoSocial" name="RazaoSocial" />
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <label>Fantasia:</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control validate-required" value="@Model.Fornecedor.Fantasia" name="Fantasia" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-1">
                                    <label>IE:</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control validate-required" value="@Model.Fornecedor.IE" name="IE" />
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label>CNAE:</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control validate-required" value="@Model.Fornecedor.CNAE" name="CNAE" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label>CEP:</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control validate-required" id="CEP" name="CEP" value="@Model.Fornecedor.CEP" onblur="fetchAddress()" />
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <label>Logradouro:</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control validate-required" id="Logradouro" name="Logradouro" value="@Model.Fornecedor.Logradouro" />
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label>Nº:</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" value="@Model.Fornecedor.NumeroEndereco" name="NumeroEndereco" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label>Bairro:</label>
                                    <div class="form-group mb-3">
                                        <input type="text" id="Bairro" class="form-control validate-required" value="@Model.Fornecedor.Bairro" name="Bairro" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label>Complemento:</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" value="@Model.Fornecedor.Complemento" name="Complemento" />
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <label for="idUF">UF:</label>
                                    <div class="form-group mb-3">
                                        <select class="form-control validate-required" id="UF" name="UF">
                                            <option value="">Selecione</option>
                                            @foreach (var uf in new List<string> { "AC", "AL", "AP", "AM", "BA", "CE", "DF", "ES", "GO", "MA", "MT", "MS", "MG", "PA", "PB", "PR", "PE", "PI", "RJ", "RN", "RS", "RO", "RR", "SC", "SP", "SE", "TO" })
                                            {
                                                <option value="@uf">@uf</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <label>Cidade:</label>
                                    <div class="form-group mb-3">
                                        <input type="text" id="Cidade" class="form-control validate-required" value="@Model.Fornecedor.Cidade" name="Cidade" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <!-- Dados Fiscais Card -->
                    <div class="card" id="DadosFiscaisCadastro">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h4 style="color: #1878BB; margin-bottom: 20px;">Dados Fiscais</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="idMicroEmpresa">Micro Empresa:</label>
                                    <div class="form-group mb-3">
                                        <select class="form-control validate-required" name="MicroEmpresa">
                                            <option selected>@Model.Fornecedor.MicroEmpresa</option>
                                            <option value="SIM">SIM</option>
                                            <option value="NÃO">NÃO</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <label for="idContribuiICMS">Contribui ICMS:</label>
                                    <div class="form-group mb-3">
                                        <select class="form-control validate-required" name="ContribuiICMS">
                                            <option selected>@Model.Fornecedor.ContribuiICMS</option>
                                            <option value="SIM">SIM</option>
                                            <option value="NÃO">NÃO</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <label for="idContribuiIPI">Contribui IPI:</label>
                                    <div class="form-group mb-3">
                                        <select class="form-control validate-required" name="ContribuiIPI">
                                            <option selected>@Model.Fornecedor.ContribuiIPI</option>
                                            <option value="SIM">SIM</option>
                                            <option value="NÃO">NÃO</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label for="idFornTipo">Tipo de Fornecedor:</label>
                                    <div class="form-group mb-3">
                                        <select class="form-control validate-required" name="TipoFornecedor">
                                            <option selected>@Model.Fornecedor.TipoFornecedor</option>
                                            <option value="Distribuidor">Distribuidor</option>
                                            <option value="Industria">Industria</option>
                                            <option value="Transportadora">Transportadora</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label for="idFornAlimentos">Fornecedor de Alimentos:</label>
                                    <div class="form-group mb-3">
                                        <select class="form-control validate-required" name="FornecedorAlimentos">
                                            <option selected>@Model.Fornecedor.FornecedorAlimentos</option>
                                            <option value="Alimentos Industrializados">Alimentos Industrializados</option>
                                            <option value="Alimentos Não Industrializados">Alimentos Não Industrializados</option>
                                            <option value="Não Fornece Alimentos">Não Fornece Alimentos</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label for="idCompPrincipal">Comprador Arco-Mix Principal:</label>
                                    <div class="form-group mb-3">
                                        <select class="form-control validate-required" name="CompradorPrincipal">
                                            <option selected>@Model.Fornecedor.CompradorPrincipal</option>
                                            <option value="Ana Sales">Ana Sales</option>
                                            <option value="Bruno Santos">Bruno Santos</option>
                                            <option value="Carlos Costa">Carlos Costa</option>
                                            <option value="DoCarmo">DoCarmo</option>
                                            <option value="Hugo Souza">Hugo Souza</option>
                                            <option value="João Vieira">João Vieira</option>
                                            <option value="Juliana Maria">Juliana Maria</option>
                                            <option value="Juliana Medeiros">Juliana Medeiros</option>
                                            <option value="Melque">Melque</option>
                                            <option value="Raphael Mendes">Raphael Mendes</option>
                                            <option value="Gilberto">Gilberto</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <!-- Dados Bancarios Card -->
                    <div class="card" id="DadosBancariosCadastro">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h4 style="color: #1878BB; margin-bottom: 20px;">Dados Bancarios</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="idBanco">Banco:</label>
                                    <div class="form-group mb-3">
                                        <select class="form-control validate-required" name="Banco">
                                            <option selected>@Model.DadosBancarios.Banco</option>
                                            <option value="Caixa Economica">Caixa Economica</option>
                                            <option value="Banco do Brasil">Banco do Brasil</option>
                                            <option value="Itau">Itau</option>
                                            <option value="Bradesco">Bradesco</option>
                                            <option value="Santander">Santander</option>
                                            <option value="Banco Inter">Banco Inter</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="idAgencia">Agencia</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control validate-required" value="@Model.DadosBancarios.Agencia" name="Agencia" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="idTipoConta">Tipo de Conta</label>
                                    <div class="form-group mb-3">
                                        <select class="form-control validate-required" name="TipoConta">
                                            <option selected>@Model.DadosBancarios.TipoConta</option>
                                            <option value="Pessoa Juridica">Pessoa Juridica</option>
                                            <option value="Pessoa Fisica">Pessoa Fisica</option>
                                            <option value="Poupança">Poupança</option>
                                            <option value="Conta Investimento">Conta Investimento</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="idNConta">Nº Conta:</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control validate-required" value="@Model.DadosBancarios.NumeroConta" name="NumeroConta" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="idCNPJConta">CNPJ Titular Conta:</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control validate-required" value="@Model.DadosBancarios.CNPJContaTitular" name="CNPJContaTitular" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <!-- Contatos Card -->
                    <div class="card" id="ContatosCadastro">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h4 style="color: #1878BB; margin-bottom: 20px;">Contatos</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="idContatoVendedor">Vendedor:</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control validate-required" value="@Model.Contatos.ContatoVendedor" name="Contatos.ContatoVendedor" />
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label for="idDDD">DDD</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control validate-required" value="@Model.Contatos.DDDVendedor" name="Contatos.DDDVendedor" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="idTelefone">Telefone</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control validate-required" value="@Model.Contatos.TelefoneVendedor" name="Contatos.TelefoneVendedor" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="idEmail">Email</label>
                                    <div class="form-group mb-3">
                                        <input type="email" class="form-control validate-required" value="@Model.Contatos.EmailVendedor" name="Contatos.EmailVendedor" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="idContatoGerente">Gerente:</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control validate-required" value="@Model.Contatos.ContatoGerente" name="Contatos.ContatoGerente" />
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label for="idDDDGerente">DDD</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control validate-required" value="@Model.Contatos.DDDGerente" name="Contatos.DDDGerente" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="idTelefoneGerente">Telefone</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control validate-required" value="@Model.Contatos.TelefoneGerente" name="Contatos.TelefoneGerente" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="idEmailGerente">Email</label>
                                    <div class="form-group mb-3">
                                        <input type="email" class="form-control validate-required" value="@Model.Contatos.EmailGerente" name="Contatos.EmailGerente" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="idRespFinanceiro">Responsavel Financeiro:</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control validate-required" value="@Model.Contatos.ResponsavelFinanceiro" name="Contatos.ResponsavelFinanceiro" />
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label for="idDDDRespFinanceiro">DDD</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control validate-required" value="@Model.Contatos.DDDRespFinanceiro" name="Contatos.DDDRespFinanceiro" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="idTelefoneRespFinanceiro">Telefone</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control validate-required" value="@Model.Contatos.TelefoneRespFinanceiro" name="Contatos.TelefoneRespFinanceiro" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="idEmailRespFinanceiro">Email</label>
                                    <div class="form-group mb-3">
                                        <input type="email" class="form-control validate-required" value="@Model.Contatos.EmailRespFinanceiro" name="Contatos.EmailRespFinanceiro" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h6 style="color: #718288; margin-top: 30px; margin-left: 220px; font-weight: bold;">Telefone Fixo da Empresa:</h6>
                                </div>
                                <div class="col-md-1">
                                    <label for="idDDDTelefoneFixoEmpresa">DDD</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control validate-required" value="@Model.Contatos.DDDTelefoneFixoEmpresa" name="Contatos.DDDTelefoneFixoEmpresa" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="idTelefoneFixoEmpresa">Telefone</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control validate-required" value="@Model.Contatos.TelefoneFixoEmpresa" name="Contatos.TelefoneFixoEmpresa" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <br />

                    <!-- Card Negociação Fornecedor-->
                    <div class="card" id="NegociacaoFornecedor">
                        <div class="card-body">
                            <div class="row" >
                                <div class="col">
                                    <h4 style="color: #1878BB; margin-bottom: 20px;">Negociação Fornecedor</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <hr>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label for="idDTBaseVencimento">Data Base Vencimento</label>
                                    <div class="form-group mb-3">
                                        <select class="form-control" id="idDTBaseVencimento" name="FornecedorNegociacao.DataBaseVencimento" asp-for="FornecedorNegociacao.DataBaseVencimento">
                                            <option value="">Escolher...</option>
                                            <option value="Emissão">Emissão</option>
                                            <option value="Entrada">Entrada</option>
                                            <option value="Saída">Saída</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Additional Fields Start -->
                                <div class="col-md-2">
                                    <label for="idPZPagamentoDias">Prazo Pagamento (dias)</label>
                                    <div class="form-group mb-3">
                                        <input type="number" class="form-control" id="idPZPagamentoDias" name="FornecedorNegociacao.PrazoPagamentoDias" asp-for="FornecedorNegociacao.PrazoPagamentoDias" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="idPZEntregaMedio">Prazo médio Entrega (dias)</label>
                                    <div class="form-group mb-3">
                                        <input type="number" class="form-control" id="idPZEntregaMedio" name="FornecedorNegociacao.PrazoEntregaMedioDias" asp-for="FornecedorNegociacao.PrazoEntregaMedioDias" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="idPZMedioAtraso">Prazo médio Atraso (dias)</label>
                                    <div class="form-group mb-3">
                                        <input type="number" class="form-control" id="idPZMedioAtraso" name="FornecedorNegociacao.PrazoMedioAtrasoDias" asp-for="FornecedorNegociacao.PrazoMedioAtrasoDias" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="idPZMedioVisita">Prazo médio visita (dias)</label>
                                    <div class="form-group mb-3">
                                        <input type="number" class="form-control" id="idPZMedioVisita" name="FornecedorNegociacao.PrazoMedioVisitaDias" asp-for="FornecedorNegociacao.PrazoMedioVisitaDias" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="idVerbaCadastro">Verba de cadastro (R$)</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control currency-input" id="idVerbaCadastro" name="FornecedorNegociacao.VerbaCadastro" asp-for="FornecedorNegociacao.VerbaCadastro" />
                                    </div>
                                </div>
                                <!-- Additional Fields End -->
                            </div>

                            <!-- New Fields Start -->
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="idMotivoVerbaZerada">Motivo da Verba Zerada</label>
                                    <div class="form-group mb-3">
                                        <select class="form-control" id="idMotivoVerbaZerada" name="FornecedorNegociacao.MotivoVerbaZerada" asp-for="FornecedorNegociacao.MotivoVerbaZerada">
                                            <option value="">Escolher...</option>
                                            <option value="Não Paga Verba">Não Paga Verba</option>
                                            <option value="Verba na Apuração ou Desconto">Verba na Apuração ou Desconto</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <label for="idJustificativaSemVerba">Justificativa (Sem Verba)</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="idJustificativaSemVerba" name="FornecedorNegociacao.JustificativaSemVerba" asp-for="FornecedorNegociacao.JustificativaSemVerba" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="idDivisaoVerba">Divisão</label>
                                    <div class="form-group mb-3">
                                        <select class="form-control" id="idDivisaoVerba" name="FornecedorNegociacao.DivisaoVerba" asp-for="FornecedorNegociacao.DivisaoVerba">
                                            <option value="">Escolher...</option>
                                            <option value="Atacado">Atacado</option>
                                            <option value="Varejo">Varejo</option>
                                            <option value="Atacado / Varejo">Atacado / Varejo</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="idContratoFornecedor">Contrato</label>
                                    <div class="form-group mb-3">
                                        <select class="form-control" id="idContratoFornecedor" name="FornecedorNegociacao.ContratoFornecedor" asp-for="FornecedorNegociacao.ContratoFornecedor">
                                            <option value="">Escolher...</option>
                                            <option value="Sim">Sim</option>
                                            <option value="Sim, apenas Varejo">Sim, apenas Varejo</option>
                                            <option value="Sim, apenas Atacado">Sim, apenas Atacado</option>
                                            <option value="Sim, após o primeiro pedido">Sim, após o primeiro pedido</option>
                                            <option value="Não">Não</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label for="idApuracaoContrato">Apuração</label>
                                    <div class="form-group mb-3">
                                        <select class="form-control" id="idApuracaoContrato" name="FornecedorNegociacao.ApuracaoContrato" asp-for="FornecedorNegociacao.ApuracaoContrato">
                                            <option value="">Escolher...</option>
                                            <option value="Líquido">Líquido</option>
                                            <option value="Bruto">Bruto</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="idTipoContrato">Tipo de Contrato</label>
                                    <div class="form-group mb-3">
                                        <select class="form-control" id="idTipoContrato" name="FornecedorNegociacao.TipoContrato" asp-for="FornecedorNegociacao.TipoContrato">
                                            <option value="">Escolher...</option>
                                            <option value="Desconto">Desconto</option>
                                            <option value="Apuração">Apuração</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="idMotivoSemContrato">Motivo Sem Contrato</label>
                                    <div class="form-group mb-3">
                                        <select class="form-control" id="idMotivoSemContrato" name="FornecedorNegociacao.MotivoSemContrato" asp-for="FornecedorNegociacao.MotivoSemContrato">
                                            <option value="">Escolher...</option>
                                            <option value="Rede Brasil">Rede Brasil</option>
                                            <option value="Outros">Outros</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="idJustificativaSemContrato">Justificativa (Sem Contrato)</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="idJustificativaSemContrato" name="FornecedorNegociacao.JustificativaSemContrato" asp-for="FornecedorNegociacao.JustificativaSemContrato" />
                                    </div>
                                </div>
                            </div>

                            <!-- Percentuais do Contrato (Varejo) -->
                            <div class="row">
                                <div class="col-md-3" style="display: flex; align-items: center; justify-content: center; height: 70px;">
                                    <span style="font-weight: bold; color: #718288;">Percentuais do Contrato ( Varejo )</span>
                                </div>
                                <div class="col-md-1">
                                    <label for="idTotalContratoVarejo">Total(%)</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control readonly" id="idTotalContratoVarejo" name="FornecedorNegociacao.TotalPercentualVarejo" asp-for="FornecedorNegociacao.TotalPercentualVarejo" readonly="true" />
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label for="idLogisticoVarejo">Logístico(%)</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="idLogisticoVarejo" name="FornecedorNegociacao.LogisticoVarejo" asp-for="FornecedorNegociacao.LogisticoVarejo" />
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label for="idDevolucaoVarejo">Avaria(%)</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="idDevolucaoVarejo" name="FornecedorNegociacao.DevolucaoVarejo" asp-for="FornecedorNegociacao.DevolucaoVarejo" />
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label for="idAniversarioVarejo">Aniversário(%)</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="idAniversarioVarejo" name="FornecedorNegociacao.AniversarioVarejo" asp-for="FornecedorNegociacao.AniversarioVarejo" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="idReinauguracaoVarejo">Reinauguração(%)</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="idReinauguracaoVarejo" name="FornecedorNegociacao.ReinauguracaoVarejo" asp-for="FornecedorNegociacao.ReinauguracaoVarejo" />
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label for="idCadastroVarejo">Cadastro(%)</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="idCadastroVarejo" name="FornecedorNegociacao.CadastroVarejo" asp-for="FornecedorNegociacao.CadastroVarejo" />
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label for="idFinanceiroVarejo">Financeiro(%)</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="idFinanceiroVarejo" name="FornecedorNegociacao.FinanceiroVarejo" asp-for="FornecedorNegociacao.FinanceiroVarejo" />
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label for="idMarketingVarejo">Marketing(%)</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="idMarketingVarejo" name="FornecedorNegociacao.MarketingVarejo" asp-for="FornecedorNegociacao.MarketingVarejo" />
                                    </div>
                                </div>
                            </div>

                            <!-- Percentuais do Contrato (Atacado) -->
                            <div class="row">
                                <div class="col-md-3" style="display: flex; align-items: center; justify-content: center; height: 70px;">
                                    <span style="font-weight: bold; color: #718288;">Percentuais do Contrato ( Atacado )</span>
                                </div>
                                <div class="col-md-1">
                                    <label for="idTotalContratoAtacado">Total(%)</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control readonly" id="idTotalContratoAtacado" name="FornecedorNegociacao.TotalPercentualAtacado" asp-for="FornecedorNegociacao.TotalPercentualAtacado" readonly="true" />
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label for="idLogisticoAtacado">Logístico(%)</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="idLogisticoAtacado" name="FornecedorNegociacao.LogisticoAtacado" asp-for="FornecedorNegociacao.LogisticoAtacado" />
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label for="idDevolucaoAtacado">Avaria(%)</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="idDevolucaoAtacado" name="FornecedorNegociacao.DevolucaoAtacado" asp-for="FornecedorNegociacao.DevolucaoAtacado" />
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label for="idAniversarioAtacado">Aniversário(%)</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="idAniversarioAtacado" name="FornecedorNegociacao.AniversarioAtacado" asp-for="FornecedorNegociacao.AniversarioAtacado" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="idReinauguracaoAtacado">Reinauguração(%)</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="idReinauguracaoAtacado" name="FornecedorNegociacao.ReinauguracaoAtacado" asp-for="FornecedorNegociacao.ReinauguracaoAtacado" />
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label for="idCadastroAtacado">Cadastro(%)</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="idCadastroAtacado" name="FornecedorNegociacao.CadastroAtacado" asp-for="FornecedorNegociacao.CadastroAtacado" />
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label for="idFinanceiroAtacado">Financeiro(%)</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="idFinanceiroAtacado" name="FornecedorNegociacao.FinanceiroAtacado" asp-for="FornecedorNegociacao.FinanceiroAtacado" />
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label for="idMarketingAtacado">Marketing(%)</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="idMarketingAtacado" name="FornecedorNegociacao.MarketingAtacado" asp-for="FornecedorNegociacao.MarketingAtacado" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />

                    <!-- Card Seguranca Alimentos-->
                    <div class="card" id="SegurancaAlimentos">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h4 style="color: #1878BB; margin-bottom: 20px;">Segurança de Alimentos</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <hr>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label for="idParecerSegurancaAlimentos">Parecer</label>
                                    <div class="form-group mb-3">
                                        <select asp-for="SegurancaAlimentos.Parecer" class="form-control">
                                            <option value="">Escolher...</option>
                                            <option value="Aprovado">Aprovado</option>
                                            <option value="Não Aprovado">Não Aprovado</option>
                                            <option value="Pendência(s) Documentação">Pendência(s) Documentação</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <label for="idDescricaoAvaliacao">Descrição da Avaliação</label>
                                    <div class="form-group mb-3">
                                        <input asp-for="SegurancaAlimentos.DescricaoAvaliacao" class="form-control" />
                                    </div>
                                </div>
                                <hr />
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label for="idAtividadeEmpresaForn">Atividade da Empresa:</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="idAtividadeEmpresaForn" name="SegurancaAlimentos.AtividadeEmpresa" asp-for="SegurancaAlimentos.AtividadeEmpresa" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="idOrgaoFiscalizacaoForn">Orgão de Fiscalização</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="idOrgaoFiscalizacaoForn" name="SegurancaAlimentos.OrgaoFiscalizacao" asp-for="SegurancaAlimentos.OrgaoFiscalizacao" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="idNumRegistroForn">Nº Registro</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="idNumRegistroForn" name="SegurancaAlimentos.NumeroRegistroOrgao" asp-for="SegurancaAlimentos.NumeroRegistroOrgao" />
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <label for="idResponsavelTecnico">Responsavel Técnico</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="idResponsavelTecnico" name="SegurancaAlimentos.ResponsavelTecnico" asp-for="SegurancaAlimentos.ResponsavelTecnico" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <label for="idTecnicoForn">DDD</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="idDDDTecnicoForn" name="SegurancaAlimentos.DDDTecnico" asp-for="SegurancaAlimentos.DDDTecnico" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="idTelefoneTecnicoForn">Telefone</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="idTelefoneTecnicoForn" name="SegurancaAlimentos.TelefoneTecnico" asp-for="SegurancaAlimentos.TelefoneTecnico" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="idEmailTecnicoForn">Email</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="idEmailTecnicoForn" name="SegurancaAlimentos.EmailTecnico" asp-for="SegurancaAlimentos.EmailTecnico" />
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col text-center">
                                    <p style="color: #ff0000; font-weight: bold;">** RESPONSÁVEL TÉCNICO DEVE RESPONDER À AVALIAÇÃO ABAIXO MARCANDO AS OPÇÕES QUE EXISTEM NA EMPRESA **</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-5">
                                    <input type="checkbox" asp-for="SegurancaAlimentos.BPFImplantadoPraticado" />
                                    <label asp-for="SegurancaAlimentos.BPFImplantadoPraticado">Boas Práticas de Fabricação Implantado e Praticado</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="checkbox" asp-for="SegurancaAlimentos.SistemaTratamentoResiduos" />
                                    <label asp-for="SegurancaAlimentos.SistemaTratamentoResiduos">Sistema de Tratamento dos Resíduos Gerados pelo Estabelecimento</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-5">
                                    <input type="checkbox" asp-for="SegurancaAlimentos.ControleSaudeColaboradores" />
                                    <label asp-for="SegurancaAlimentos.ControleSaudeColaboradores">Controle de Saúde dos Colaboradores</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="checkbox" asp-for="SegurancaAlimentos.CIPMIPImplementado" />
                                    <label asp-for="SegurancaAlimentos.CIPMIPImplementado">CIP/MIP implementado e monitorado</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-5">
                                    <input type="checkbox" asp-for="SegurancaAlimentos.SistemaIdentificacaoRastreabilidade" />
                                    <label asp-for="SegurancaAlimentos.SistemaIdentificacaoRastreabilidade">Sistema de Identificação e Rastreabilidade do Processo</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="checkbox" asp-for="SegurancaAlimentos.ProcedimentoPadraoFabricacao" />
                                    <label asp-for="SegurancaAlimentos.ProcedimentoPadraoFabricacao">Sistema de Procedimento Padrão de Fabricação e/ou Manipulação</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-5">
                                    <input type="checkbox" asp-for="SegurancaAlimentos.ControleQualidadeImplementado" />
                                    <label asp-for="SegurancaAlimentos.ControleQualidadeImplementado">Controle de Qualidade implementado</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="checkbox" asp-for="SegurancaAlimentos.ProcedimentoPadraoRecebimento" />
                                    <label asp-for="SegurancaAlimentos.ProcedimentoPadraoRecebimento">Sistema de Procedimento Padrão de Recebimento de Matéria Prima</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-5">
                                    <input type="checkbox" asp-for="SegurancaAlimentos.SistemaTratamentoReclamacoes" />
                                    <label asp-for="SegurancaAlimentos.SistemaTratamentoReclamacoes">Sistema de Tratamento das Reclamações dos Clientes</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="checkbox" asp-for="SegurancaAlimentos.TransporteProprio" />
                                    <label asp-for="SegurancaAlimentos.TransporteProprio">Transporte Próprio</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-5">
                                    <input type="checkbox" asp-for="SegurancaAlimentos.FichaTecnicaProdutos" />
                                    <label asp-for="SegurancaAlimentos.FichaTecnicaProdutos">Ficha Técnica dos Produtos Produzidos</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="checkbox" asp-for="SegurancaAlimentos.ControleProdutosNaoConforme" />
                                    <label asp-for="SegurancaAlimentos.ControleProdutosNaoConforme">Sistema de Controle de Produtos Não Conforme</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-5">
                                    <input type="checkbox" asp-for="SegurancaAlimentos.ExigeHigienizacaoCIP" />
                                    <label asp-for="SegurancaAlimentos.ExigeHigienizacaoCIP">Exige higienização e CIP em dia do Transporte Terceirizado</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="checkbox" asp-for="SegurancaAlimentos.RegistrosComprovacaoSistemas" />
                                    <label asp-for="SegurancaAlimentos.RegistrosComprovacaoSistemas">Registros de Comprovação desses sistemas?</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-5">
                                    <input type="checkbox" asp-for="SegurancaAlimentos.LicencasPertinentes" />
                                    <label asp-for="SegurancaAlimentos.LicencasPertinentes">Todas as Licenças Pertinente ao Processo</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="checkbox" asp-for="SegurancaAlimentos.EnviaAmostrasCliente" />
                                    <label asp-for="SegurancaAlimentos.EnviaAmostrasCliente">Envia Amostras para Cliente Quando Solicitado</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-6">
                                    <input type="checkbox" asp-for="SegurancaAlimentos.ControleAguaAbastecimento" />
                                    <label asp-for="SegurancaAlimentos.ControleAguaAbastecimento">Sistema de Controle da Água de Abastecimento e Residual no Estabelecimento</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                        </div>
                    </div>
                    <br />
                </form>
            </div>
        </div>
    </div>
}
else
{
    <p>No data found for the provided CNPJ.</p>
}

<div data-success="@Model.IsSubmissionSuccessful" style="display:none;" id="successIndicator"></div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const inputs = document.querySelectorAll('.validate-required');

            inputs.forEach(input => {
                input.addEventListener('blur', function () {
                    if (this.value.trim() === '') {
                        let label = this.closest('.form-group').querySelector('label');
                        if (!label) {
                            label = this.closest('.form-group').previousElementSibling;
                        }
                        if (label) {
                            alert(`O campo "${label.textContent}" não pode ficar em branco`);
                            // Remove the blur event temporarily to avoid infinite loop
                            this.removeEventListener('blur', arguments.callee);
                            this.focus();
                            // Re-add the blur event after refocus
                            setTimeout(() => {
                                this.addEventListener('blur', arguments.callee);
                            }, 0);
                        }
                    }
                });
            });

            var isSuccessful = document.getElementById('successIndicator').getAttribute('data-success');
            if (isSuccessful === 'True') {
                alert("Cadastro atualizado com sucesso");
            }
        });

        // Function to fetch address from ViaCEP
        function fetchAddress() {
            const cep = document.getElementById('CEP').value.replace(/\D/g, '');
            if (cep.length === 8) {
                const url = `https://viacep.com.br/ws/${cep}/json/`;

                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        if (data.erro) {
                            console.error('CEP não encontrado.');
                            return;
                        }
                        document.getElementById('Logradouro').value = data.logradouro;
                        document.getElementById('Bairro').value = data.bairro;
                        document.getElementById('Cidade').value = data.localidade;
                        document.getElementById('UF').value = data.uf;
                    })
                    .catch(error => console.error('Erro ao buscar o CEP:', error));
            }
        }

    </script>
}