@page
@model PortalArcomix.Pages.GestaoFornecedorModel
@{
    ViewData["Title"] = "Gestão de Fornecedores";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row align-items-center" style="margin-top: 50px;">
        <div class="col">
            <div class="card">
                <div class="card-body framelogin">
                    <div class="row">
                        <div class="col text-center">
                            <h3 style="color: #1878BB;">Gestão de Fornecedores</h3>
                            <hr />
                        </div>
                    </div>

                    <!-- Filter inputs -->
                    <div class="container-fluid">
                        <form method="post">
                            <div class="row">
                                <div class="ms-auto col-md-2">
                                    <input type="text" name="filter" class="form-control" value="@Model.Filter" placeholder="Enter filters separated by comma" />
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success">Filtrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <hr />

                    <!-- Table -->
                    <div class="row">
                        <div class="col">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Numero</th>
                                        <th>CNPJ</th>
                                        <th>Razao Social</th>
                                        <th>Alimentos</th>
                                        <th>Comprador</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var fornecedor in Model.Fornecedores)
                                    {
                                        <tr>
                                            <td>@fornecedor.ID</td>
                                            <td>@fornecedor.CNPJ</td>
                                            <td>@fornecedor.RazaoSocial</td>
                                            <td>@fornecedor.FornecedorAlimentos</td>
                                            <td>@fornecedor.CompradorPrincipal</td>
                                            <td>
                                                <form method="post" asp-page-handler="ClaimCnpj">
                                                    <input type="hidden" name="cnpj" value="@fornecedor.CNPJ" />
                                                    <button type="submit" class="btn btn-primary">
                                                        <i class="fa-regular fa-pen-to-square"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>

