@page
@model PortalArcomix.Pages.ProdutosVEModel
@{
    ViewData["Title"] = "ProdutosVE";
    Layout = "_Layout";
}

<form method="post">
    <!-- Hidden field for ID -->
    <input type="hidden" asp-for="Produto.ID" />
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-md-1 sidebar">
                @* Sidebar items *@
                @{
                    var sidebarItems = new List<(string Link, string Icon, string Text)>
                {
                ("#idDadosdoProduto", "fa-table", "Dados do Produto"),
                ("#idGC", "fa-list", "Venda e Compra"),
                // ("#idGC", "fa-list", "Gerenciamento de Categoria"),
                // ("#idDadosTributarios", "fa-square-root-variable", "Dados Tributários"),
                // ("#idDadosLogísticos", "fa-truck", "Dados Logísticos"),
                // ("#idCadastro", "fa-address-card", "Cadastro"),
                // ("#idComentarios", "fa-comments", "Comentários")
                };
                }
                @foreach (var item in sidebarItems)
                {
                    <div class="sidebar-item">
                        <a href="@item.Link" class="sidebar-link">
                            <i class="sidebar-icon fa @item.Icon"></i>
                            <span class="sidebar-text">@item.Text</span>
                        </a>
                    </div>
                }
            </div>

            <!-- Main Content Column -->
            <div class="col-md-11">
                <!-- Card Dados do Produto -->
                <div class="card" id="idDadosdoProduto">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h4 style="color: #1878BB;">Dados do Produto</h4>
                                <br />
                            </div>
                        </div>

                        <div class="row">
                            <!-- ID -->
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>ID</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" value="@Model.Produto?.ID" readonly />
                                    </div>
                                </div>
                            </div>

                            <!-- Descrição -->
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.DESCRICAOPRODUTO">Descrição</label>
                                    <div class="form-group mb-3">
                                        <input asp-for="Produto.DESCRICAOPRODUTO" class="form-control" id="DescricaoProduto" maxlength="35" onblur="validateDescricaoProduto()" />
                                        <span asp-validation-for="Produto.DESCRICAOPRODUTO" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- Importado -->
                            <div class="col-md-1">
                                <label asp-for="Produto.IMPORTADO">Importado</label>
                                <div class="form-group mb-3">
                                    <select asp-for="Produto.IMPORTADO" class="form-control" id="Importado" onblur="validateSelect('Importado')">
                                        <option value="">Escolher</option>
                                        <option value="true">Sim</option>
                                        <option value="false">Não</option>
                                    </select>
                                    <span asp-validation-for="Produto.IMPORTADO" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Gestor de Compras -->
                            <div class="col-md-2">
                                <label asp-for="Produto.GESTORCOMPRAS">Gestor de Compras</label>
                                <div class="form-group mb-3">
                                    <select asp-for="Produto.GESTORCOMPRAS" class="form-control" id="GestorCompras" onblur="validateSelect('GestorCompras')">
                                        <option value="">Escolher</option>
                                        <option value="Ana Sales">Ana Sales</option>
                                        <option value="Bruno Santos">Bruno Santos</option>
                                        <option value="Carlos Costa">Carlos Costa</option>
                                        <option value="DoCarmo">DoCarmo</option>
                                        <option value="Hugo Souza">Hugo Souza</option>
                                        <option value="João Vieira">João Vieira</option>
                                        <option value="Juliana Maria">Juliana Maria</option>
                                        <option value="Juliana Medeiros">Juliana Medeiros</option>
                                        <option value="Melque">Melque</option>
                                        <option value="Raphael Mendes">Raphael Mendes</option>
                                        <option value="Gilberto">Gilberto</option>
                                    </select>
                                    <span asp-validation-for="Produto.GESTORCOMPRAS" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.MARCA">Marca</label>
                                    <div class="form-group mb-3">
                                        <select asp-for="Produto.MARCA" class="form-control" id="marcaSelect" onblur="validateSelect('marcaSelect')" onchange="toggleNovaMarca()">
                                            <option value="">Escolher</option>
                                            <option value="Nova Marca">Nova Marca</option>
                                            @foreach (var marca in Model.AvailableMarcas)
                                            {
                                                <option value="@marca">@marca</option>
                                            }                                            
                                        </select>
                                        <span asp-validation-for="Produto.MARCA" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                            <!-- Nova Marca (this uses the same MARCA property) -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label for="novaMarcaInput">Nova Marca</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="novaMarcaInput" disabled="disabled" onblur="if(!this.disabled) validateField('novaMarcaInput', 'default')" onchange="toggleNovaMarca()"  />
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                            </div>                            
                        </div>

                        <div class="row">
                            <!-- NCM/SH -->
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.NCM">NCM/SH</label>
                                    <input asp-for="Produto.NCM" class="form-control" id="NCM" onblur="validateNCM()" maxlength="8" />
                                    <span asp-validation-for="Produto.NCM" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- CEST -->
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.CEST">CEST</label>
                                    <input asp-for="Produto.CEST" class="form-control" id="CEST" onblur="validateCEST()" maxlength="7" />
                                    <span asp-validation-for="Produto.CEST" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- ICMS % -->
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.ICMS">ICMS%</label>
                                    <input asp-for="Produto.ICMS" class="form-control" id="ICMS" onblur="validateICMS()" maxlength="6" />
                                    <span asp-validation-for="Produto.ICMS" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- IPI % -->
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.IPI">IPI%</label>
                                    <input asp-for="Produto.IPI" class="form-control" id="IPI" onblur="validateIPI()" maxlength="6" />
                                    <span asp-validation-for="Produto.IPI" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- PIS % -->
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.PIS">PIS%</label>
                                    <input asp-for="Produto.PIS" class="form-control" id="PIS" onblur="validatePIS()" maxlength="6" />
                                    <span asp-validation-for="Produto.PIS" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- COFINS % -->
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.COFINS">COFINS%</label>
                                    <input asp-for="Produto.COFINS" class="form-control" id="COFINS" onblur="validateCOFINS()" maxlength="6" />
                                    <span asp-validation-for="Produto.COFINS" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Custo Unidade (R$) -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.CUSTOUNIDADE">Custo Unidade (R$)</label>
                                    <input asp-for="Produto.CUSTOUNIDADE" class="form-control" id="CUSTOUNIDADE" onblur="validateCustoUnidade()" maxlength="9" />
                                    <span asp-validation-for="Produto.CUSTOUNIDADE" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Custo Caixa (R$) -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.CUSTOCAIXA">Custo Caixa (R$)</label>
                                    <input asp-for="Produto.CUSTOCAIXA" class="form-control" id="CUSTOCAIXA" onblur="validateCustoCaixa()" maxlength="9" />
                                    <span asp-validation-for="Produto.CUSTOCAIXA" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Embalagem Fatura -->
                            <div class="col-md-2">
                                <label asp-for="Produto.EMBALAGEMFAT">Embalagem Fatura</label>
                                <div class="form-group mb-3">
                                    <select asp-for="Produto.EMBALAGEMFAT" class="form-control" id="EmbalagemFat" onblur="validateSelect('EmbalagemFat')">
                                        <option value="">Escolher...</option>
                                        <option value="DUN 14">DUN 14</option>
                                        <option value="EAN 13">EAN 13</option>
                                        <option value="Display">Display</option>
                                        <option value="KG">KG</option>
                                        <option value="Fardo">Fardo</option>
                                        <option value="Cód.int.Forn(Ref DUN14)">Cód.int.Forn(Ref DUN14)</option>
                                        <option value="Cód.int.Forn(Ref EAN13)">Cód.int.Forn(Ref EAN13)</option>
                                        <option value="Cód.int.Forn(Ref Ref Display)">Cód.int.Forn(Ref Ref Display)</option>
                                    </select>
                                    <span asp-validation-for="Produto.EMBALAGEMFAT" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Cód XML (44 Dig) -->
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.CODXML">Cód XML</label>
                                    <input asp-for="Produto.CODXML" class="form-control" id="CodXML" maxlength="44" onblur="validateField('CodXML', '44digitos')" />
                                    <span asp-validation-for="Produto.CODXML" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Descrição Completa -->
                            <div class="col-md-8">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.DESCRICAOCOMPLETA">
                                        Descrição para Publicidade (sem abreviação e com acento)
                                    </label>
                                    <div class="form-group mb-3">
                                        <input asp-for="Produto.DESCRICAOCOMPLETA" class="form-control" id="DescricaoCompleta" maxlength="100" onblur="validateField('DescricaoCompleta', 'default')" />
                                        <span asp-validation-for="Produto.DESCRICAOCOMPLETA" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                            

                            @* <!-- Verba Cadastro (R$) -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.VERBACADASTRO">Verba Cadastro (R$)</label>
                                    <input asp-for="Produto.VERBACADASTRO" class="form-control" id="VerbaCadastro" onblur="validateField('VerbaCadastro', 'currency')" />
                                    <span asp-validation-for="Produto.VERBACADASTRO" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Motivo Verba Zerada -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.MOTIVOVERBAZERADA">Motivo Verba Zerada</label>
                                    <input asp-for="Produto.MOTIVOVERBAZERADA" class="form-control" id="MotivoVerbaZerada" onblur="validateField('MotivoVerbaZerada', 'default')" maxlength="255" />
                                    <span asp-validation-for="Produto.MOTIVOVERBAZERADA" class="text-danger"></span>
                                </div>
                            </div> *@
                        </div>



                    </div>
                </div>
                <br />

                <!--Card Unidade de Venda e Compra-->
                <div class="card">
                    <div class="card-body">
                        <div class="row" id="idUnidVendaCompra">
                            <div class="col">
                                <h4 style="color: #1878BB;">Unidade de Venda e Compra</h4>
                                <br />
                            </div>
                        </div>

                        <div class="row">
                            <!-- EAN 13 Field -->
                            <div class="col-md-2">
                                <label>
                                    EAN 13
                                    <input type="checkbox" id="ean13Checkbox" style="margin-left: 5px;"
                                           onchange="toggleInputField('ean13Checkbox', 'ean13', '13digitos')"> Não Possui
                                </label>
                                <div class="form-group mb-3">
                                    <input asp-for="ProdutoVendaCompra.EAN13" id="ean13" class="form-control" maxlength="13" onblur="validateEAN13()" />
                                    <span asp-validation-for="ProdutoVendaCompra.EAN13" class="text-danger"></span>
                                </div>
                            </div>




                            <!-- Referência -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoVendaCompra.REFERENCIA">Referência</label>
                                    <input asp-for="ProdutoVendaCompra.REFERENCIA" class="form-control" maxlength="30" />
                                    <span asp-validation-for="ProdutoVendaCompra.REFERENCIA" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Peso Bruto em Kg -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoVendaCompra.PESOBRUTOKG">P. Bruto (Kg)</label>
                                    <input asp-for="ProdutoVendaCompra.PESOBRUTOKG" id="pesoBruto" class="form-control" onblur="validatePesoBruto()" />
                                    <span asp-validation-for="ProdutoVendaCompra.PESOBRUTOKG" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Peso Líquido em Kg -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoVendaCompra.PESOLIQUIDOKG">P. Líquido (Kg)</label>
                                    <input asp-for="ProdutoVendaCompra.PESOLIQUIDOKG" id="pesoLiquido" class="form-control" onblur="validatePesoLiquido()" />
                                    <span asp-validation-for="ProdutoVendaCompra.PESOLIQUIDOKG" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Altura (cm) -->
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoVendaCompra.ALTURACM">Altura(cm)</label>
                                    <input asp-for="ProdutoVendaCompra.ALTURACM" id="alturaCm" class="form-control" onblur="validateAlturaCm()" />
                                    <span asp-validation-for="ProdutoVendaCompra.ALTURACM" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Largura (cm) -->
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoVendaCompra.LARGURACM">Largura(cm)</label>
                                    <input asp-for="ProdutoVendaCompra.LARGURACM" id="larguraCm" class="form-control" onblur="validateLarguraCm()" />
                                    <span asp-validation-for="ProdutoVendaCompra.LARGURACM" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Profundidade (cm) -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoVendaCompra.PROFUNDIDADECM">Profundidade(cm)</label>
                                    <input asp-for="ProdutoVendaCompra.PROFUNDIDADECM" id="profundidadeCm" class="form-control" onblur="validateProfundidadeCm()" />
                                    <span asp-validation-for="ProdutoVendaCompra.PROFUNDIDADECM" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- DUN 14 -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoVendaCompra.DUN14">
                                        DUN 14
                                        <input type="checkbox" id="dun14Checkbox" style="margin-left: 5px;"
                                               onchange="toggleInputField('dun14Checkbox', 'dun14', '14digitos')"> Não Possui
                                    </label>
                                    <input asp-for="ProdutoVendaCompra.DUN14" id="dun14" class="form-control" maxlength="14" onblur="validateField('dun14', '14digitos')" />
                                    <span asp-validation-for="ProdutoVendaCompra.DUN14" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Referencia DUN 14 -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoVendaCompra.REFERENCIADUN14">Referencia</label>
                                    <input asp-for="ProdutoVendaCompra.REFERENCIADUN14" id="referenciaDun14" class="form-control" maxlength="50"/>
                                    <span asp-validation-for="ProdutoVendaCompra.REFERENCIADUN14" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Peso Bruto DUN 14 (Kg) -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoVendaCompra.PESOBRUTODUN14KG">P. Bruto(Kg)</label>
                                    <input asp-for="ProdutoVendaCompra.PESOBRUTODUN14KG" id="pesoBrutoDun14" class="form-control" onblur="validatePesoBrutoDun14()" />
                                    <span asp-validation-for="ProdutoVendaCompra.PESOBRUTODUN14KG" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Peso Líquido DUN 14 (Kg) -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoVendaCompra.PESOLIQUIDODUN14KG">P. Líquido(Kg)</label>
                                    <input asp-for="ProdutoVendaCompra.PESOLIQUIDODUN14KG" id="pesoLiquidoDun14" class="form-control" onblur="validatePesoLiquidoDun14()" />
                                    <span asp-validation-for="ProdutoVendaCompra.PESOLIQUIDODUN14KG" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Altura DUN 14 (cm) -->
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoVendaCompra.ALTURADUN14CM">Altura(cm)</label>
                                    <input asp-for="ProdutoVendaCompra.ALTURADUN14CM" id="alturaDun14Cm" class="form-control" onblur="validateField('alturaDun14Cm', 'digitsOnly') && validateField('alturaDun14Cm', 'maxValue100') && validateAlturaCaixasAndAlturaDun14()" />
                                    <span asp-validation-for="ProdutoVendaCompra.ALTURADUN14CM" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Largura DUN 14 (cm) -->
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoVendaCompra.LARGURADUN14CM">Largura(cm)</label>
                                    <input asp-for="ProdutoVendaCompra.LARGURADUN14CM" id="larguraDun14Cm" class="form-control" onblur="validateField('larguraDun14Cm', 'digitsOnly') && validateField('larguraDun14Cm', 'maxValue100') && validateMesaLarguraProfundidade()" />
                                    <span asp-validation-for="ProdutoVendaCompra.LARGURADUN14CM" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Profundidade DUN 14 (cm) -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoVendaCompra.PROFUNDIDADEDUN14CM">Profundidade(cm)</label>
                                    <input asp-for="ProdutoVendaCompra.PROFUNDIDADEDUN14CM" id="profundidadeDun14Cm" class="form-control" onblur="validateField('profundidadeDun14Cm', 'digitsOnly') && validateField('profundidadeDun14Cm', 'maxValue100') && validateMesaLarguraProfundidade()" />
                                    <span asp-validation-for="ProdutoVendaCompra.PROFUNDIDADEDUN14CM" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Embalagem -->
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoVendaCompra.EMBALAGEM">Embalagem</label>
                                    <select asp-for="ProdutoVendaCompra.EMBALAGEM" id="embalagemSelect" class="form-control" onblur="validateSelect('embalagemSelect')">
                                        <option value="">Escolher...</option>
                                        <option value="Caixa">Caixa</option>
                                        <option value="Fardo">Fardo</option>
                                        <option value="Display">Display</option>
                                        <option value="Unidade">Unidade</option>
                                        <option value="Kilo">Kilo</option>
                                    </select>
                                    <span asp-validation-for="ProdutoVendaCompra.EMBALAGEM" class="text-danger"></span>
                                </div>
                            </div>


                            <!-- Quantidade -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoVendaCompra.QUANTIDADEUNIDADES">Quantidade (UND)</label>
                                    <input asp-for="ProdutoVendaCompra.QUANTIDADEUNIDADES" id="quantidadeUnidades" class="form-control" onblur="validateField('quantidadeUnidades', 'digitsOnly')" />
                                    <span asp-validation-for="ProdutoVendaCompra.QUANTIDADEUNIDADES" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Mesa (caixas) -->
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoVendaCompra.MESACAIXAS">Mesa(caixa)</label>
                                    <input asp-for="ProdutoVendaCompra.MESACAIXAS" id="mesaCaixas" class="form-control" onblur="validateField('mesaCaixas', 'digitsOnly') && validateMesaLarguraProfundidade()" />
                                    <span asp-validation-for="ProdutoVendaCompra.MESACAIXAS" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Altura (caixas) -->
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoVendaCompra.ALTURACAIXAS">Altura(caixa)</label>
                                    <input asp-for="ProdutoVendaCompra.ALTURACAIXAS" id="alturaCaixas" class="form-control"
                                           onblur="validateAlturaCaixas(); validateAlturaCaixasAndAlturaDun14();" />
                                    <span asp-validation-for="ProdutoVendaCompra.ALTURACAIXAS" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Shelf Life (dias) -->
                            <div class="col-md-3">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoVendaCompra.SHELFLIFEDIAS">
                                        ShelfLife(dias)
                                        <input type="checkbox" id="shelfLifeDiasCheckbox" style="margin-left: 5px;"
                                               onchange="toggleInputField('shelfLifeDiasCheckbox', 'shelfLifeDias', 'digitsOnly')"> Não Possui
                                    </label>
                                    <input asp-for="ProdutoVendaCompra.SHELFLIFEDIAS" id="shelfLifeDias" class="form-control" onblur="validateShelfLifeDias()" />
                                    <span asp-validation-for="ProdutoVendaCompra.SHELFLIFEDIAS" class="text-danger"></span>
                                </div>
                            </div>


                            <!-- Validation Message Space -->
                            <div class="col-md-4">
                                <div class="form-group mt-4">
                                    <span id="caixasUnidadesValidationMessage" class="text-danger" style="font-weight: bold;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />

                <!-- Card Sub Embalagem -->
                <div class="card">
                    <div class="card-body">
                        <div class="row" id="idSubEmbalagem">
                            <div class="col">
                                <h4 style="color: #1878BB;">Sub Embalagem</h4>
                                <br />
                            </div>
                        </div>

                        <div class="row">
                            <!-- EAN 13 Field -->
                            <div class="col-md-2">
                                <label>EAN 13                     
                                </label>
                                <div class="form-group mb-3">
                                    <input asp-for="ProdutoSubEmbalagem.EAN13" id="subEmbalagemEan13" class="form-control" maxlength="13" onblur="validateField('subEmbalagemEan13', '13digitos')" />
                                    <span asp-validation-for="ProdutoSubEmbalagem.EAN13" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Referência -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoSubEmbalagem.REFERENCIA">Referência</label>
                                    <input asp-for="ProdutoSubEmbalagem.REFERENCIA" id="subEmbalagemReferencia" class="form-control" maxlength="30" />
                                    <span asp-validation-for="ProdutoSubEmbalagem.REFERENCIA" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Peso Bruto em Kg -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoSubEmbalagem.PESOBRUTOKG">P. Bruto (Kg)</label>
                                    <input asp-for="ProdutoSubEmbalagem.PESOBRUTOKG" id="subEmbalagemPesoBruto" class="form-control" onblur="validatePesoFields('subEmbalagemPesoBruto', 'subEmbalagemPesoLiquido')" />
                                    <span asp-validation-for="ProdutoSubEmbalagem.PESOBRUTOKG" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Peso Líquido em Kg -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoSubEmbalagem.PESOLIQUIDOKG">P. Líquido (Kg)</label>
                                    <input asp-for="ProdutoSubEmbalagem.PESOLIQUIDOKG" id="subEmbalagemPesoLiquido" class="form-control" onblur="validatePesoFields('subEmbalagemPesoBruto', 'subEmbalagemPesoLiquido')" />
                                    <span asp-validation-for="ProdutoSubEmbalagem.PESOLIQUIDOKG" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Altura (cm) -->
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoSubEmbalagem.ALTURACM">Altura(cm)</label>
                                    <input asp-for="ProdutoSubEmbalagem.ALTURACM" id="subEmbalagemAlturaCm" class="form-control" onblur=" validateAlturaCmSUB() " />
                                    <span asp-validation-for="ProdutoSubEmbalagem.ALTURACM" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Largura (cm) -->
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoSubEmbalagem.LARGURACM">Largura(cm)</label>
                                    <input asp-for="ProdutoSubEmbalagem.LARGURACM" id="subEmbalagemLarguraCm" class="form-control" onblur=" validateLarguraCmSUB() " />
                                    <span asp-validation-for="ProdutoSubEmbalagem.LARGURACM" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Profundidade (cm) -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoSubEmbalagem.PROFUNDIDADECM">Profundidade(cm)</label>
                                    <input asp-for="ProdutoSubEmbalagem.PROFUNDIDADECM" id="subEmbalagemProfundidadeCm" class="form-control" onblur=" validateProfundidadeCmSUB() " />
                                    <span asp-validation-for="ProdutoSubEmbalagem.PROFUNDIDADECM" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Embalagem -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoSubEmbalagem.EMBALAGEM">Embalagem</label>
                                    <select asp-for="ProdutoSubEmbalagem.EMBALAGEM" id="subEmbalagemSelect" class="form-control">
                                        <option value="">Escolher...</option>
                                        <option value="Pacote">Pacote</option>
                                        <option value="Caixeta">Caixeta</option>
                                        <option value="Display">Display</option>
                                    </select>
                                    <span asp-validation-for="ProdutoSubEmbalagem.EMBALAGEM" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Quantidade -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoSubEmbalagem.QUANTIDADEUNIDADES">Quantidade (UND)</label>
                                    <input asp-for="ProdutoSubEmbalagem.QUANTIDADEUNIDADES" id="subEmbalagemQuantidadeUnidades" class="form-control" type="number" min="0" step="1" />
                                    <span asp-validation-for="ProdutoSubEmbalagem.QUANTIDADEUNIDADES" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <!-- Card Comentários -->
                <div class="card">
                    <div class="card-body">
                        <div class="row" id="idComentarios">
                            <div class="col">
                                <h4 style="color: #1878BB;">Comentários</h4>
                                <p>Para incluir um comentário, preencher o campo abaixo:</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group mb-3">
                                    <textarea asp-for="ProdutoComentario.COMENTARIO" class="form-control" rows="5" placeholder="Digite seu comentário aqui..."></textarea>
                                    <span asp-validation-for="ProdutoComentario.COMENTARIO" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Action Buttons -->
                <div class="row mt-4">
                    <div class="col-md-12 text-right">
                        <a id="idvoltar" class="btn btn-danger" href="/Index" role="button">Voltar</a>
                        <button id="idAtivacaoProduto" type="submit" class="btn btn-primary">Ativação Produto</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script>

    function validateSelect(selectId) {
        var select = document.getElementById(selectId);
        if (select && select.value === "") {
            setValidationMessage(selectId, "Selecione uma Opção");
            select.focus();
            return false;
        } else {
            setValidationMessage(selectId, ""); // Clear validation message
        }
        return true;
    }

    function setValidationMessage(fieldId, message) {
        var field = document.getElementById(fieldId);
        var validationSpan = field.nextElementSibling;
        if (validationSpan && validationSpan.classList.contains('text-danger')) {
            validationSpan.innerText = message;
        }
    }

    function validateField(fieldId, validationType = 'default') {
        var field = document.getElementById(fieldId);
        if (field) {
            var value = field.value.trim();

            switch (validationType) {
                case 'default':
                    if (!value) {
                        setValidationMessage(fieldId, "Campo Precisa ser preenchido");
                        field.focus();
                        return false;
                    }
                    break;

                case 'max35chars':
                    if (value.length > 35) {
                        setValidationMessage(fieldId, "Máximo 35 caracteres");
                        field.focus();
                        return false;
                    }
                    break;

                case '8digitos':
                    if (!/^\d{8}$/.test(value)) {
                        setValidationMessage(fieldId, "Apenas 8 dígitos");
                        field.focus();
                        return false;
                    }
                    break;

                case '7digitos':
                    if (value && !/^\d{7}$/.test(value)) {
                        setValidationMessage(fieldId, "Apenas 7 dígitos");
                        field.focus();
                        return false;
                    }
                    break;

                case 'percent':
                    if (!/^\d{1,3}(\,\d{1,2})?$/.test(value) || parseFloat(value.replace(',', '.')) > 100) {
                        setValidationMessage(fieldId, "Deve ser Percentual");
                        field.focus();
                        return false;
                    }
                    break;


                case 'currency':
                    if (value && !/^\d+(\,\d{1,2})?$/.test(value)) {
                        setValidationMessage(fieldId, "Valor Inválido");
                        field.focus();
                        return false;
                    }
                    break;

                case 'repeatedDigits':
                    if (value && /^(\d)\1+$/.test(value)) {
                        setValidationMessage(fieldId, "Inválido");
                        field.focus();
                        return false;
                    }
                    break;

                case '44digitos':
                    if (!/^\d{44}$/.test(value)) {
                        setValidationMessage(fieldId, "44 dígitos");
                        field.focus();
                        return false;
                    }
                    break;

                case 'sequentialDigits':
                    if (value && isSequential(value)) {
                        setValidationMessage(fieldId, "Inválido");
                        field.focus();
                        return false;
                    }
                    break;

                case '13digitos':
                    if (value && !/^\d{13}$/.test(value)) {
                        setValidationMessage(fieldId, "Apenas 13 dígitos");
                        field.focus();
                        return false;
                    }
                    break;

                case '14digitos':
                    if (!/^\d{14}$/.test(value)) {
                        setValidationMessage(fieldId, "Apenas 14 dígitos");
                        field.focus();
                        return false;
                    }
                    break;

                case 'digitsOnly':
                    if (value && !/^\d+$/.test(value)) {
                        setValidationMessage(fieldId, "Apenas Números");
                        field.focus();
                        return false;
                    }
                    break;

                case 'maxValue100':
                    if (parseFloat(value.replace(',', '.')) > 100) {
                        setValidationMessage(fieldId, "Máximo 100");
                        field.focus();
                        return false;
                    }
                    break;

                default:
                    break;
            }

            setValidationMessage(fieldId, ""); // Clear validation message
        }
        return true;
    }

    function validateDescricaoProduto() {return validateField("DescricaoProduto", "default") && validateField("DescricaoProduto", "max35chars");}
    function validateNCM() {return validateField("NCM", "8digitos") && validateField("NCM", "repeatedDigits") && validateField("NCM", "sequentialDigits");}
    function validateCEST() {return validateField("CEST", "7digitos") && validateField("CEST", "repeatedDigits") && validateField("CEST", "sequentialDigits");}
    function validateICMS() {return validateField("ICMS", "percent");}
    function validateIPI() {return validateField("IPI", "percent");}
    function validatePIS() {return validateField("PIS", "percent");}
    function validateCOFINS() {return validateField("COFINS", "percent");}
    function validateCustoUnidade() { return validateField("CUSTOUNIDADE", "currency") && validateField("CUSTOUNIDADE", "default"); }
    function validateCustoCaixa() { return validateField("CUSTOCAIXA", "currency") && validateField("CUSTOCAIXA", "default"); }
    function validateCodXML() { return validateField("CodXML", "44digitos"); }

    //function validateVerbaCadastro() { return validateField("VerbaCadastro", "currency"); }
    //function validateMotivoVerbaZerada() { return validateField("MotivoVerbaZerada", "default"); }

    function validateEAN13() { return validateField("ean13", "13digitos") && validateField("ean13", "default"); }
    function validateAlturaCm() { return validateField("alturaCm", "digitsOnly") && validateField("alturaCm", "maxValue100") && validateField("alturaCm", "default"); }
    function validateLarguraCm() { return validateField("larguraCm", "digitsOnly") && validateField("larguraCm", "maxValue100") && validateField("larguraCm", "default"); }
    function validateProfundidadeCm() { return validateField("profundidadeCm", "digitsOnly") && validateField("profundidadeCm", "maxValue100") && validateField("profundidadeCm", "default"); }
    function validateDun14() { return validateField("dun14", "14digitos"); }
    //function validateReferenciaDun14() { return validateField("referenciaDun14", "default"); }
    function validateAlturaDun14() { return validateField("alturaDun14Cm", "digitsOnly") && validateField("alturaDun14Cm", "maxValue100") && validateField("alturaDun14Cm", "default"); }
    function validateLarguraDun14() { return validateField("larguraDun14Cm", "digitsOnly") && validateField("larguraDun14Cm", "maxValue100") && validateField("larguraDun14Cm", "default"); }
    function validateProfundidadeDun14() { return validateField("profundidadeDun14Cm", "digitsOnly") && validateField("profundidadeDun14Cm", "maxValue100") && validateField("profundidadeDun14Cm", "default"); }
    function validateShelfLifeDias() {return validateField("shelfLifeDias", "default") && validateField("shelfLifeDias", "digitsOnly");}
    function validateAlturaCaixas() {return validateField("alturaCaixas", "default") && validateField("alturaCaixas", "digitsOnly");}

    function validatePesoBruto() { if (validateField('pesoBruto', 'default')) { return validatePesoFields('pesoBruto', 'pesoLiquido'); } return false; }
    function validatePesoLiquido() { if (validateField('pesoLiquido', 'default')) { return validatePesoFields('pesoBruto', 'pesoLiquido'); } return false; }
    function validatePesoBrutoDun14() { if (validateField('pesoBrutoDun14', 'default')) { return validatePesoFields('pesoBrutoDun14', 'pesoLiquidoDun14'); } return false; }
    function validatePesoLiquidoDun14() { if (validateField('pesoLiquidoDun14', 'default')) { return validatePesoFields('pesoBrutoDun14', 'pesoLiquidoDun14'); } return false; }
    function validateAlturaCmSUB() { return validateField("subEmbalagemAlturaCm", "digitsOnly") && validateField("subEmbalagemAlturaCm", "maxValue100"); }
    function validateLarguraCmSUB() { return validateField("subEmbalagemLarguraCm", "digitsOnly") && validateField("subEmbalagemLarguraCm", "maxValue100"); }
    function validateProfundidadeCmSUB() { return validateField("subEmbalagemProfundidadeCm", "digitsOnly") && validateField("subEmbalagemProfundidadeCm", "maxValue100"); }

    // Generalized validation for Peso Bruto and Peso Líquido fields
    function validatePesoFields(pesoBrutoId, pesoLiquidoId) {
        var pesoBruto = document.getElementById(pesoBrutoId).value.trim();
        var pesoLiquido = document.getElementById(pesoLiquidoId).value.trim();

        // If both fields are filled, check if they contain valid currency values
        if (validateField(pesoBrutoId, "currency") && validateField(pesoLiquidoId, "currency")) {
            // Convert the values to numbers for comparison
            var brutoValue = parseFloat(pesoBruto.replace(',', '.'));
            var liquidoValue = parseFloat(pesoLiquido.replace(',', '.'));

            // Check if P. Líquido is greater than P. Bruto
            if (liquidoValue > brutoValue) {
                setValidationMessage(pesoLiquidoId, "P. Líquido não pode ser maior que P. Bruto");
                document.getElementById(pesoLiquidoId).focus();
                return false;
            }

            // Check if P. Bruto or P. Líquido is greater than 30
            if (brutoValue > 30) {
                setValidationMessage(pesoBrutoId, "Peso Máximo 30Kg");
                document.getElementById(pesoBrutoId).focus();
                return false;
            }
            if (liquidoValue > 30) {
                setValidationMessage(pesoLiquidoId, "Peso Máximo 30Kg");
                document.getElementById(pesoLiquidoId).focus();
                return false;
            }

            // Clear any previous validation messages if everything is valid
            clearValidationMessages(pesoBrutoId, pesoLiquidoId);
            return true;
        }

        return false; // If validation fails, return false
    }


    // Clear validation messages for both fields
    function clearValidationMessages(pesoBrutoId, pesoLiquidoId) {
        setValidationMessage(pesoBrutoId, "");
        setValidationMessage(pesoLiquidoId, "");
    }

    // Validation for AlturaCaixas * AlturaDun14Cm <= 160
    function validateAlturaCaixasAndAlturaDun14() {
        var alturaCaixas = parseFloat(document.getElementById("alturaCaixas").value.trim());
        var alturaDun14Cm = parseFloat(document.getElementById("alturaDun14Cm").value.trim());
        var validationMessageElement = document.getElementById("caixasUnidadesValidationMessage");

        // Clear any previous validation messages
        validationMessageElement.innerText = "";

        // Check if both fields have values
        if (!isNaN(alturaCaixas) && !isNaN(alturaDun14Cm)) {
            if (alturaCaixas * alturaDun14Cm > 160) {
                validationMessageElement.innerText = "Altura (caixas) x Altura (cm) DUN deve ser <= 160";
                document.getElementById("alturaCaixas").focus(); // Focus the field to force user correction
                return false;
            }
        }

        return true;
    }

    // Validation for MesaCaixas * LarguraDun14Cm * ProfundidadeDun14Cm <= 12000
    function validateMesaLarguraProfundidade() {
        var mesaCaixas = parseFloat(document.getElementById("mesaCaixas").value.trim());
        var larguraDun14Cm = parseFloat(document.getElementById("larguraDun14Cm").value.trim());
        var profundidadeDun14Cm = parseFloat(document.getElementById("profundidadeDun14Cm").value.trim());
        var validationMessageElement = document.getElementById("caixasUnidadesValidationMessage");

        // Clear any previous validation messages
        validationMessageElement.innerText = "";

        // Check if all fields have values
        if (!isNaN(mesaCaixas) && !isNaN(larguraDun14Cm) && !isNaN(profundidadeDun14Cm)) {
            if (mesaCaixas * larguraDun14Cm * profundidadeDun14Cm > 12000) {
                validationMessageElement.innerText = "Mesa(caixa)*Largura(cm) DUN*Profundidade(cm) DUN deve ser <= 12000";
                document.getElementById("mesaCaixas").focus(); // Focus the first field to force user correction
                return false;
            }
        }

        return true;
    }

    function toggleInputField(checkboxId, inputId, validationType = null) {
        var checkbox = document.getElementById(checkboxId);
        var inputField = document.getElementById(inputId);

        if (checkbox.checked) {
            // Clear the input value
            inputField.value = '';
            // Disable the input field
            inputField.disabled = true;
            // Disable the validation script
            inputField.onblur = null;
            // Clear any validation message
            setValidationMessage(inputId, '');
        } else {
            // Enable the input field
            inputField.disabled = false;
            // Re-enable the validation script if validationType is provided
            if (validationType) {
                inputField.onblur = function () {
                    validateField(inputId, validationType);
                };
            }
        }
    }
    
    // Helper function to detect sequential digits
    function isSequential(value) {
        for (let i = 0; i < value.length - 1; i++) {
            if (parseInt(value[i]) + 1 !== parseInt(value[i + 1])) {
                return false;
            }
        }
        return true;
    }


    function toggleNovaMarca() {
        var marcaSelect = document.getElementById('marcaSelect');
        var novaMarcaInput = document.getElementById('novaMarcaInput');

        if (marcaSelect.value === 'Nova Marca') {
            novaMarcaInput.disabled = false;
            novaMarcaInput.name = "Produto.MARCA";  // Use the MARCA property when Nova Marca is selected
            marcaSelect.name = "";  // Clear the name to avoid binding
        } else {
            novaMarcaInput.disabled = true;
            novaMarcaInput.value = '';  // Clear the Nova Marca input if disabled
            novaMarcaInput.name = "";  // Remove the name attribute to avoid binding
            marcaSelect.name = "Produto.MARCA";  // Ensure the dropdown is bound to MARCA
        }
    }

    // Make Enter key act like Tab in the form
    document.addEventListener('keydown', function (event) {
        if (event.key === "Enter") {
            event.preventDefault(); // Prevent default Enter behavior
            // Find the next focusable element
            var currentElement = event.target;
            var focusableElements = document.querySelectorAll('button, [href], input, select, textarea');
            var currentIndex = Array.from(focusableElements).indexOf(currentElement);
            var nextIndex = (currentIndex + 1) % focusableElements.length;
            focusableElements[nextIndex].focus();
        }
    });


</script>