@page
@model PortalArcomix.Pages.TempModel
@{
    ViewData["Title"] = "Upload Documents";
    Layout = "_Layout";
}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-primary">Documentos</h4>
                    <p class="card-text text-danger">Documentos Obrigatórios: <strong>SINTEGRA</strong></p>
                    <form method="post" enctype="multipart/form-data" class="row align-items-center" onsubmit="return validateFile()">
                        <div class="col-md-4 mb-2">
                            <label class="control-label">Documento</label>
                            <div class="form-group mb-3">
                                <select asp-for="TIPODOCUMENTO" class="form-control" id="TIPODOCUMENTO">
                                    <option value="">Escolher...</option>
                                    <option value="SINTEGRA">SINTEGRA</option>
                                    <option value="Documentação Sanitária">Documentação Sanitária</option>
                                    <option value="Documentação Ambiental ou Operacional">Documentação Ambiental ou Operacional</option>
                                    <option value="Documentação Controle de Pragas">Documentação Controle de Pragas</option>
                                    <option value="Documentação Controle de Água">Documentação Controle de Água</option>
                                    <option value="Documentação Manual Boas Práticas">Documentação Manual Boas Práticas</option>
                                    <option value="Documentação Segurança de Alimentos">Documentação Segurança de Alimentos</option>
                                    <option value="Documentação PAC">Documentação PAC</option>
                                    <option value="Documentação APPCC">Documentação APPCC</option>
                                </select>
                                <span asp-validation-for="TIPODOCUMENTO" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="fileUpload" class="sr-only">Escolher</label>
                            <input asp-for="UploadedFile" class="form-control" type="file" id="fileUpload" accept="application/pdf" placeholder="Escolher" />
                            <span asp-validation-for="UploadedFile" class="text-danger"></span>
                        </div>
                        <div class="col-md-2 mb-2 d-flex align-items-end">
                            <button type="submit" class="btn btn-primary w-100">Enviar</button>
                        </div>
                    </form>

                    <hr />

                    <div class="mt-4">
                        <h5 class="text-primary">Documentos Enviados</h5>
                        <div class="row">
                            <div class="col-md-8">
                                @if (Model.UploadedFiles.Any())
                                {
                                    @foreach (var file in Model.UploadedFiles)
                                    {
                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <div class="col-5">
                                                <span>@file.TIPODOCUMENTO</span>
                                            </div>
                                            <div class="col-6">
                                                <a asp-page-handler="Download" asp-route-filePath="@file.CAMINHOARQUIVO" class="text-primary">
                                                    @file.NOMEARQUIVO
                                                </a>
                                            </div>
                                            <div class="col-1">
                                                <form method="post" asp-page-handler="Delete" asp-route-id="@file.ID" style="display:inline;">
                                                    <button type="submit" class="btn btn-link p-0">
                                                        <i class="fa-solid fa-delete-left" style="color: #d60505;"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="text-center text-danger">Nenhum Documento Enviado</div>
                                }
                            </div>
                            <div class="col-md-4"></div> <!-- Empty column for spacing -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        function validateFile() {
            const fileInput = document.getElementById('fileUpload');
            const file = fileInput.files[0];
            const maxSizeInBytes = 5 * 1024 * 1024; // 5 MB

            if (file) {
                if (file.type !== 'application/pdf') {
                    alert('O arquivo deve ser em .PDF');
                    return false;
                }
                if (file.size > maxSizeInBytes) {
                    alert('O Arquivo deve ser menor que 5MB.');
                    return false;
                }
            }
            return true;
        }

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <text>
                alert('@Html.Raw(Model.ErrorMessage)');
            </text>
        }
        @if (!string.IsNullOrEmpty(Model.SuccessMessage))
        {
            <text>
                alert('@Html.Raw(Model.SuccessMessage)');
            </text>
        }
    </script>
}